@model ValarMorghulis.HybridUI.ViewModels.CharacterDetailsViewModel
@{
    ViewBag.Title = "Character details";
}

<h4>Character details</h4>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Born)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Born)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Died)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Died)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CultureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CultureName)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
